#This is the configuration file for the BigDFT installer
#This is a python script which is executed by the build suite

#Add the condition testing to run tests and includes PyYaml
conditions.add("testing")

#List the module the this rcfile will build
modules = ['spred',]

def fflags():
  return """ "FCFLAGS=-O2 -fopenmp -mtune=native" """

#example of the potentialities of the python syntax in this file
def env_configuration():
    return  (""" "FC=mpifort" "CC=gcc-8" "CXX=g++-8" """ + fflags() +
             """ "--with-ext-linalg=-framework Accelerate" """)

def cmake_configuration():
  def getcwd():
    import os
    return os.getcwd()
  return ( """-DFORTRAN_ONLY=YES -DF_TOOLCHAINFLAGS=""" + fflags() +
           """-DCMAKE_Fortran_COMPILER=mpifort """ +
           """-DCMAKE_PREFIX_PATH="""+getcwd()+"""/install""")

#the following command sets the environment variable to give these settings
#to all the modules
import os
os.environ['BIGDFT_CONFIGURE_FLAGS']=env_configuration()
#here follow the configuration instructions for the modules built
#we specify the configurations for the modules to customize the options if needed

# For NTPoly
module_cmakeargs.update({
'ntpoly': cmake_configuration(),
'bigpoly': cmake_configuration()
})

module_autogenargs.update({

'libyaml': env_configuration(),

'futile': env_configuration(),

'psolver': env_configuration(),

'chess': env_configuration(),

'libxc': env_configuration(),

'libABINIT': env_configuration(),

'GaIn': env_configuration(),

'bigdft': env_configuration(),

'spred': env_configuration(),

})
